.case-studies {
    .slick-slide {
        padding: 1rem 2rem;
        @media (min-width: 768px) {
            margin: 0 2rem;
        }
    }
    .slick-current {
        background-color: $gray-light;
    } 
    .slick-prev, .slick-next {
        &::before {
            display: none;
        }
        width: 60px;
        height: 60px;
        z-index: 20;
    }
    .slick-prev {
        left: calc(10vw - 20px);
    }
    .slick-next {
        right: calc(10vw - 20px);
    }
    @media (max-width: 767px) {
        .slick-next, .slick-prev {
            width: 30px;
            height: 30px;
        }
        .slick-prev {
            left: -40px;
        }
        .slick-next {
            right: -40px;
        }
        .slick-slide {
            padding: 0.5rem 1rem;
        }
        margin: 0 1rem;
        .col {
            padding: 0 0.125rem;
        }
        .responsive {
            padding: 5px;
        }
        .gallery-slide {
            .my-auto {
                display: none;
                &:first-of-type {
                    display: block;
                }
            }
        }
    }
} 