// Styling for the download section
section.contact {
  background-color: $gray-light;
  text-align: center;
  color: black;

  label {
    text-align: left;
    display: block;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 25px;
  }

  .disabled {
    border-color: red;
    color: #fff;
    background-color: red;
  }

  #contact-form {

    input,
    textarea {
      border-radius: 0;
    }
  }

  .contact-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    div {
      display: flex;
      align-items: center;
      margin: 0 0.5rem;
    }

    a {
      @include main-black;
      color: $gray-mid;
      padding: 10px;
      font-size: 1.15rem;
    }

    i {
      color: $gray-mid;
      font-size: 2.5rem;
    }
  }

  .form-check {
    display: flex;
  }

  #linkPhone {
    transition: color ease-in-out .2s;

    &.highlight-phone {
      a {
        color: white;
      }
    }
  }
}