// Global styling for this template
html,
body {
    width: 100%;
    height: 100%;
    min-width: 320px;
    @include main-regular;
}

body {
    @include main-regular;
}

section {
    overflow-x: hidden;
}

a {
    color: $theme-primary;
    @include main-regular;
    @include transition-all;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

p,
button {
    @include main-bold;
}

hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: fade-out($gray-darker, 0.9);
}

hr.light {
    border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include main-bold;
    font-weight: 300;
    text-transform: uppercase;
}

p {
    font-size: 20px;
    line-height: 23px;
    @include main-regular;
}

header {
    background-color: white;
}

section {
    padding: 100px 0;
    background-color: white;
}

h2 {
    font-size: 2.3rem;
}

h4 {
    font-size: 19px;
}

section {
    padding: 40px 15px;

}
