// Styling for the masthead
header.masthead {
    position: relative;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 80px;
    overflow-x: hidden;
    .device-container {
        img {
            max-width: 450px;
            width: 100%;
            margin: auto;
            display: block;
        }
    }
    .header-content {
        max-width: 500px;
        margin-bottom: 40px;
        text-align: center;
    }
    @media (min-width: 992px) {
        min-height: 500px;
        padding-top: 180px;
        padding-bottom: 120px;
        .header-content {
            margin-bottom: 0;
            text-align: left;
        }
        .device-container {
            img {
                max-width: 600px;
            }
        }
    }
}