// Styling for the navbar
#mainNav {
    border-color: fade-out($gray-darker, .95);
    @include transition-all;
    @include heading-font;
    background: white;
    border-bottom: 2px solid $theme-primary;
    .navbar-brand {
        @include heading-font;
        &:hover,
        &:focus {
            color: $theme-secondary;
        }
    }
    .navbar-toggler {
        font-size: 12px;
        padding: 8px 10px;
        color: $gray-darker;
    }
    .navbar-nav {
        padding: 5px;
        > li {
            > a {
                @include alt-font;
                font-size: 12px;
                &.active {
                    color: $theme-secondary;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
            > a,
            > a:focus {
                color: $gray-darker;
                &:hover {
                    color: $theme-primary;
                }
            }
        }
    }
}
