// Styling for the download section
.product {
    margin: 30px 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid $gray-light;
    flex: 1;
    transition: flex-basis .2s ease-in-out;
    text-align: center;
    .product-section {
        text-align: center;
        .image-prod {
            padding: 0 2rem;
            img {
                max-width: 400px;
            }
        }
    }
}
#products-nologo {
    background: #e7e7e7;
}